{% extends "_base/site.html" %}

{% load static %}
{% block title %} HOME {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="{% static 'img/thumbnail.png' %}" alt="Text">
                <div class="caption">
                    <h3>Family Network</h3>
                    <p>Description</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
